Repository aliexme/web-shared: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, eslint, stylelint

typescript:
  run: pnpm run ts:check

eslint:
  run: pnpm run eslint:check --fix {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm run stylelint:check --fix {staged_files}
  stage_fixed: true

chore: use pnpm instead of bun
  .npmrc
  bun.lockb
  bunfig.toml
  lefthook.yml
  lerna.json
  package.json
  packages/js-utils/tsconfig.build.json
  packages/js-utils/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: typescript, eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/react-utils/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: none

feat(js-utils): add sleep function
  packages/js-utils/src/async/index.ts
  packages/js-utils/src/async/sleep.spec.ts
  packages/js-utils/src/async/sleep.ts
Due: typescript, eslint

chore(release): publish
  packages/js-utils/package.json
Due: none

feat(js-utils): add debounce function
  packages/js-utils/src/function/debounce.spec.ts
  packages/js-utils/src/function/debounce.ts
  packages/js-utils/src/function/index.ts
  packages/js-utils/src/function/noop.ts
Due: typescript, eslint

feat(js-utils): add clamp function
  packages/js-utils/src/number/clamp.spec.ts
  packages/js-utils/src/number/clamp.ts
  packages/js-utils/src/number/index.ts
Due: typescript, eslint

feat(js-utils): improve debounce function
  packages/js-utils/src/function/debounce.spec.ts
  packages/js-utils/src/function/debounce.ts
Due: typescript, eslint

feat(js-utils): add throttle function
  packages/js-utils/src/function/debounce.spec.ts
  packages/js-utils/src/function/debounce.ts
  packages/js-utils/src/function/index.ts
  packages/js-utils/src/function/throttle.spec.ts
  packages/js-utils/src/function/throttle.ts
Due: typescript, eslint

feat(react-utils): use vite as bundler
  package.json
  packages/react-utils/package.json
  packages/react-utils/src/hooks/useWindowSize.ts
  packages/react-utils/tsconfig.build.json
  packages/react-utils/tsconfig.json
  packages/react-utils/vite.config.ts
  pnpm-lock.yaml
  vite-lib.config.ts
Due: typescript, eslint

feat: add cjs build format
  packages/js-utils/package.json
  packages/js-utils/vite.config.ts
  packages/react-utils/package.json
  packages/react-utils/vite.config.ts
  vite-lib.config.ts
Due: typescript, eslint

chore(react-utils): update workspace dependencies in package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

chore(release): publish
  packages/js-utils/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

feat(esling-config): update package structure
  package.json
  packages/eslint-config/configs/base.js
  packages/eslint-config/configs/import.js
  packages/eslint-config/configs/prettier.js
  packages/eslint-config/configs/react-native.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/configs/recommended.js
  packages/eslint-config/configs/stylistic.js
  packages/eslint-config/configs/typescript.js
  packages/eslint-config/configs/vue.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/typescript.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/utils/compat.ts
  packages/eslint-config/tsconfig.build.json
  packages/eslint-config/tsconfig.json
  packages/js-utils/tsconfig.json
  packages/react-utils/tsconfig.json
  packages/ts-types/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: typescript, eslint

chore: update README
  README.md
Due: none

feat(js-utils): improve helpers
  .editorconfig
  packages/js-utils/src/array/arraysIntersection.spec.ts
  packages/js-utils/src/array/arraysIntersection.ts
  packages/js-utils/src/array/subtractArrays.ts
Due: typescript, eslint

feat(prettier, eslint-config): update jsx quotes rule
  packages/eslint-config/configs/prettier.js
  packages/prettier-config/index.js
Due: eslint

chore: upgrade dependencies
  package.json
  packages/eslint-config/configs/react.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/prettier-config/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

fix(eslint-config): disable additional stylistic rules for prettier config
  packages/eslint-config/configs/prettier.js
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
Due: none

feat(ts-types): add UnionTuple type
  packages/ts-types/index.d.ts
Due: typescript, eslint

chore(release): publish
  packages/ts-types/package.json
Due: none

feat(react-utils): add react plugin for vite
  packages/react-utils/package.json
  packages/react-utils/vite.config.ts
  pnpm-lock.yaml
Due: typescript, eslint

feat(react-utils): improve usePrevious hook
  packages/react-utils/src/hooks/usePrevious.ts
Due: typescript, eslint

feat(react-utils): add useDerivedState hook
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useDerivedState.ts
Due: typescript, eslint

feat(react-utils): add useIsMounted hook
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useIsMounted.ts
Due: typescript, eslint

feat(react-utils): add useIsMountedRef hook
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useIsMountedRef.ts
Due: typescript, eslint

feat(react-utils): add useEventListener hook
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useEventListener.ts
Due: typescript, eslint

chore(release): publish
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

fix(eslint-config): disabled additional stylistic rules for prettier
  packages/eslint-config/configs/prettier.js
Due: eslint

feat(eslint-config): adjust new-cap rule
  packages/eslint-config/configs/base.js
Due: eslint

chore: upgrade dependencies
  package.json
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

chore(release): publish
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

feat(react-utils): add support for react 19
  packages/react-utils/package.json
  packages/react-utils/src/components/Maybe/Maybe.tsx
  pnpm-lock.yaml
Due: typescript, eslint

feat(react-utils): add useComponentSize hook
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useComponentSize.ts
  packages/react-utils/src/hooks/useValueRef.ts
Due: typescript, eslint

Path conditions:
  typescript: any of: *.{ts,tsx,vue}
  eslint: any of: *.{js,jsx,cjs,mjs,ts,tsx,vue}
  stylelint: any of: *.{css,scss}
