Repository aliexme/web-shared: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, eslint, stylelint

typescript:
  run: bun run ts:check

eslint:
  run: bun run eslint --fix {staged_files}
  stage_fixed: true

stylelint:
  run: bun run stylelint --fix {staged_files}
  stage_fixed: true

feat(js-utils): add randomString function
  packages/js-utils/src/random/index.ts
  packages/js-utils/src/random/randomString.spec.ts
  packages/js-utils/src/random/randomString.ts
Due: typescript, eslint

tests(js-utils): use seendrandom for random values
  bun.lockb
  package.json
  packages/js-utils/src/random/randomArrayItem.spec.ts
  packages/js-utils/src/random/randomInt.spec.ts
  packages/js-utils/src/random/randomString.spec.ts
Due: typescript, eslint

chore(release): publish
  packages/js-utils/package.json
Due: none

chore: upgrade jest
  bun.lockb
  package.json
Due: none

chore: upgrade lefthook
  bun.lockb
  package.json
Due: none

chore: upgrade typescript
  bun.lockb
  package.json
Due: none

chore: upgrade prettier
  bun.lockb
  package.json
Due: none

chore: add type "module"
  .eslintrc.cjs
  jest.config.js
  package.json
  prettier.config.js
  stylelint.config.js
Due: eslint

chore(ts-types): change typescript version in peerDependencies
  packages/ts-types/package.json
Due: none

chore: upgrade stylelint
  bun.lockb
  package.json
  packages/stylelint-config/README.md
  packages/stylelint-config/package.json
Due: none

chore(prettier-config): change prettier version in peerDependencies
  packages/prettier-config/package.json
Due: none

feat(eslint-config): upgrade to version 9
  .eslintignore
  .eslintrc.cjs
  bun.lockb
  eslint.config.js
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/rules/base.js
  packages/eslint-config/rules/import.js
  packages/eslint-config/rules/prettier.js
  packages/eslint-config/rules/react-native.js
  packages/eslint-config/rules/react.js
  packages/eslint-config/rules/typescript.js
  packages/eslint-config/src/configs/base.ts
  packages/eslint-config/src/configs/import.ts
  packages/eslint-config/src/configs/prettier.ts
  packages/eslint-config/src/configs/react-native.ts
  packages/eslint-config/src/configs/react.ts
  packages/eslint-config/src/configs/recommended.ts
  packages/eslint-config/src/configs/typescript.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/utils/compat.ts
  packages/eslint-config/tsconfig.build.json
  packages/js-utils/README.md
  packages/prettier-config/README.md
  packages/react-utils/README.md
  packages/stylelint-config/README.md
  packages/ts-types/README.md
  tsconfig.json
Due: typescript, eslint

chore: upgrade lerna
  .gitignore
  bun.lockb
  nx.json
  package.json
Due: none

feat(stylelint-config): update structure
  packages/stylelint-config/configs/base.js
  packages/stylelint-config/configs/common.js
  packages/stylelint-config/configs/prettier.js
  packages/stylelint-config/configs/recommended.js
  packages/stylelint-config/configs/scss.js
  packages/stylelint-config/package.json
Due: eslint

feat(eslint-config): add sort-imports rule
  packages/eslint-config/src/configs/base.ts
  packages/react-utils/src/components/Maybe/Maybe.tsx
  packages/react-utils/src/hooks/useValueRef.ts
Due: typescript, eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/prettier-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  packages/ts-types/package.json
Due: none

chore: add bunfig.toml file
  bunfig.toml
  yarn.lock
Due: none

feat(eslint-config): add vue config
  bun.lockb
  eslint.config.js
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/import.ts
  packages/eslint-config/src/configs/typescript.ts
  packages/eslint-config/src/configs/vue.ts
  yarn.lock
Due: typescript, eslint

chore(release): publish
  packages/eslint-config/package.json
Due: none

chore: add .npmrc file
  .npmrc
Due: none

feat(eslint-config): add stylistic config
  bun.lockb
  eslint.config.js
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.ts
  packages/eslint-config/src/configs/prettier.ts
  packages/eslint-config/src/configs/recommended.ts
  packages/eslint-config/src/configs/stylistic.ts
  packages/eslint-config/src/configs/typescript.ts
  yarn.lock
Due: typescript, eslint

fix(eslint-config): disable @stylistic/max-len for prettier
  packages/eslint-config/src/configs/prettier.ts
Due: typescript, eslint

fix(eslint-config): disable @stylistic/operator-linebreak for prettier
  bun.lockb
  packages/eslint-config/src/configs/prettier.ts
  yarn.lock
Due: typescript, eslint

chore: update dependencies declaration
  bun.lockb
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: none

chore(release): publish
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
Due: none

feat(js-utils): add getObjectKey and findObjectKey functions
  packages/js-utils/src/object/findObjectKey.spec.ts
  packages/js-utils/src/object/findObjectKey.ts
  packages/js-utils/src/object/getObjectKey.spec.ts
  packages/js-utils/src/object/getObjectKey.ts
  packages/js-utils/src/object/index.ts
Due: typescript, eslint

feat(js-utils): delete random folder
  packages/js-utils/src/array/index.ts
  packages/js-utils/src/array/randomArrayItem.spec.ts
  packages/js-utils/src/array/randomArrayItem.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/number/index.ts
  packages/js-utils/src/number/randomInt.spec.ts
  packages/js-utils/src/number/randomInt.ts
  packages/js-utils/src/random/index.ts
  packages/js-utils/src/random/randomInt.ts
  packages/js-utils/src/string/index.ts
  packages/js-utils/src/string/randomString.spec.ts
  packages/js-utils/src/string/randomString.ts
Due: typescript, eslint

chore: upgrade dependencies
  bun.lockb
  eslint.config.js
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/base.ts
  packages/eslint-config/src/configs/import.ts
  packages/eslint-config/src/configs/prettier.ts
  packages/eslint-config/src/configs/react-native.ts
  packages/eslint-config/src/configs/react.ts
  packages/eslint-config/src/configs/recommended.ts
  packages/eslint-config/src/configs/stylistic.ts
  packages/eslint-config/src/configs/typescript.ts
  packages/eslint-config/src/configs/vue.ts
  packages/eslint-config/src/index.ts
  yarn.lock
Due: typescript, eslint

fix(eslint-config): update rules after upgrading
  packages/eslint-config/src/configs/typescript.ts
  packages/eslint-config/src/configs/vue.ts
Due: typescript, eslint

chore: upgrade dependencies
  bun.lockb
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: none

feat(js-utils): add sideEffects: false
  packages/js-utils/package.json
Due: none

chore(js-utils): build using vite
  bun.lockb
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/js-utils/package.json
  packages/js-utils/tsconfig.build.json
  packages/js-utils/tsconfig.json
  packages/js-utils/vite.config.ts
  packages/react-utils/package.json
  packages/react-utils/tsconfig.json
  packages/ts-types/package.json
  packages/ts-types/tsconfig.json
  yarn.lock
Due: typescript, eslint

Path conditions:
  typescript: any of: *.{ts,tsx,vue}
  eslint: any of: *.{js,jsx,cjs,mjs,ts,tsx,vue}
  stylelint: any of: *.{css,scss}
