Repository aliexme/web-shared: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typescript:
      glob: '*.{ts,tsx,vue}'
      run: pnpm run ts:check
    eslint:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,vue}'
      run: pnpm run eslint:check --fix {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.{css,scss}'
      run: pnpm run stylelint:check --fix {staged_files}
      stage_fixed: true

chore(release): publish
  packages/react-utils/package.json
Due: none

feat(react-utils): add useSlaveState hook
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useSlaveState.ts
Due: typescript, eslint

feat(js-utils): add floor and randomNumber functions
  packages/js-utils/src/number/floor.spec.ts
  packages/js-utils/src/number/floor.ts
  packages/js-utils/src/number/index.ts
  packages/js-utils/src/number/randomInt.spec.ts
  packages/js-utils/src/number/randomInt.ts
  packages/js-utils/src/number/randomNumber.spec.ts
  packages/js-utils/src/number/randomNumber.ts
  packages/js-utils/src/number/round.ts
Due: typescript, eslint

chore(release): publish
  packages/js-utils/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

feat(js-utils): add lerp function
  packages/js-utils/src/number/index.ts
  packages/js-utils/src/number/lerp.spec.ts
  packages/js-utils/src/number/lerp.ts
Due: typescript, eslint

chore(release): react-utils v2.4.3
  packages/react-utils/package.json
Due: none

chore: upgrade dependencies
  eslint.config.js
  package.json
  packages/eslint-config/configs/react-native.js
  packages/eslint-config/configs/stylistic.js
  packages/eslint-config/configs/vue.js
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

fix(stylelint-config): ignore @apply directive
  packages/stylelint-config/configs/base.js
Due: eslint

chore(release): publish
  packages/stylelint-config/package.json
Due: none

chore: don't ignore scripts
  .npmrc
  package.json
Due: none

fix(react-utils): add support for nullable refs
  packages/react-utils/src/hooks/useComponentSize.ts
Due: typescript, eslint

fix(stylelint-config): ignore tailwind directives
  packages/stylelint-config/configs/base.js
Due: eslint

fix(stylelint-config): fix import-notation rule
  packages/stylelint-config/configs/base.js
Due: eslint

feat(styelint-config): set gue degree notation to number
  packages/stylelint-config/configs/base.js
Due: eslint

chore: upgrade dependencies
  package.json
  packages/eslint-config/configs/react.js
  packages/eslint-config/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

feat(react-utils): add types for overridable components
  packages/react-utils/src/index.ts
  packages/react-utils/src/lib/index.ts
  packages/react-utils/src/lib/override.ts
Due: typescript, eslint

chore: upgrade dependencies
  eslint.config.js
  package.json
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint

feat(eslint-config): update configs
  eslint.config.js
  packages/eslint-config/configs/base.js
  packages/eslint-config/configs/import.js
  packages/eslint-config/configs/prettier.js
  packages/eslint-config/configs/react-native.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/configs/recommended.js
  packages/eslint-config/configs/stylistic.js
  packages/eslint-config/configs/typescript.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-utils/src/hooks/useWindowSize.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typescript, eslint

feat(eslint): replace eslint-plugin-import with eslint-plugin-import-x
  packages/eslint-config/configs/import.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: eslint

feat(eslint-config): use stylistic rules
  eslint.config.js
  packages/eslint-config/configs/base.js
  packages/eslint-config/configs/prettier.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/configs/stylistic.js
  packages/eslint-config/configs/typescript.js
Due: eslint

feat(eslint-config): add eslint-plugin-package-json
  package.json
  packages/eslint-config/configs/import.js
  packages/eslint-config/configs/package-json.js
  packages/eslint-config/configs/recommended.js
  packages/eslint-config/configs/typescript.js
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/prettier-config/index.js
  packages/prettier-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: eslint

feat(eslint-config): add index.d.ts
  packages/eslint-config/index.d.ts
  packages/eslint-config/package.json
Due: typescript, eslint

fix(stylelint-config): use esm exports
  packages/stylelint-config/configs/base.js
  packages/stylelint-config/configs/common.js
  packages/stylelint-config/configs/prettier.js
  packages/stylelint-config/configs/recommended.js
  packages/stylelint-config/configs/scss.js
  packages/stylelint-config/index.js
Due: eslint

docs(eslint-config): update README
  packages/eslint-config/README.md
Due: none

chore(release): publish
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/prettier-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: none

fix(eslint-config): add missing .d.ts files
  packages/eslint-config/package.json
Due: none

chore(release): publish
  packages/eslint-config/package.json
Due: none

feat(eslint-config): add astro config
  eslint.config.js
  packages/eslint-config/README.md
  packages/eslint-config/configs/astro.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

fix(stylelint-config): adjust layer-name-pattern rule
  packages/stylelint-config/configs/common.js
Due: eslint
