Repository aliexme/web-shared: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, eslint, stylelint

typescript:
  run: pnpm run ts:check

eslint:
  run: pnpm run eslint:check --fix {staged_files}
  stage_fixed: true

stylelint:
  run: pnpm run stylelint:check --fix {staged_files}
  stage_fixed: true

chore(release): publish
  packages/stylelint-config/package.json
Due: none

chore: upgrade dependencies
  package.json
  packages/eslint-config/package.json
  packages/js-utils/src/async/asyncify.spec.ts
  packages/prettier-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: typescript, eslint

fix(eslint-config): disable "package-json/no-redundant-files" rule
  .gitignore
  packages/eslint-config/configs/package-json.js
  packages/prettier-config/package.json
  packages/ts-types/package.json
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

feat(eslint-config): remove astro/prefer-class-list-directive rule
  packages/eslint-config/configs/astro.js
Due: eslint

chore(release): publish
  packages/eslint-config/package.json
Due: none

feat(eslint-config): remove astro/prefer-split-class-list rule
  packages/eslint-config/configs/astro.js
Due: eslint

chore: upgrade dependencies
  .gitignore
  package.json
  packages/eslint-config/configs/package-json.js
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/react-utils/src/hooks/useComponentSize.ts
  packages/react-utils/src/hooks/usePrevious.ts
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: typescript, eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

chore: upgrade dependencies
  package.json
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: none

feat(biome-config): setup package
  biome.json
  package.json
  packages/biome-config/LICENSE
  packages/biome-config/README.md
  packages/biome-config/biome-config.json
  packages/biome-config/package.json
  pnpm-lock.yaml
Due: none

feat(biome-config): setup package
  .vscode/settings.json
  biome.json
  eslint.config.js
  lefthook.yml
  package.json
  packages/biome-config/LICENSE
  packages/biome-config/README.md
  packages/biome-config/biome-config.json
  packages/biome-config/package.json
  packages/eslint-config/configs/base.js
  packages/eslint-config/configs/import.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/configs/recommended.js
  packages/eslint-config/configs/stylistic.js
  packages/js-utils/src/array/index.ts
  packages/js-utils/src/async/sleep.spec.ts
  packages/js-utils/src/function/debounce.spec.ts
  packages/js-utils/src/function/index.ts
  packages/js-utils/src/function/throttle.spec.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/number/floor.ts
  packages/js-utils/src/number/index.ts
  packages/js-utils/src/number/round.ts
  packages/js-utils/src/object/index.ts
  packages/js-utils/src/string/index.ts
  packages/js-utils/src/string/randomString.ts
  packages/js-utils/tsconfig.build.json
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useDerivedState.ts
  packages/react-utils/src/hooks/useDidMount.ts
  packages/react-utils/src/hooks/useEventListener.ts
  packages/react-utils/tsconfig.build.json
  pnpm-lock.yaml
Due: typescript, eslint

chore(release): publish
  packages/biome-config/package.json
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

feat(biome-config): add blank line after alias imports
  packages/biome-config/biome-config.json
Due: none

chore(release): publish
  packages/biome-config/package.json
Due: none

chore: upgrade dependencies
  package.json
  packages/biome-config/package.json
  packages/eslint-config/configs/package-json.js
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: eslint

chore(release): publish
  packages/biome-config/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/react-utils/package.json
  packages/stylelint-config/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: none

feat(stylelint-config): set lightness-notation rule to number
  packages/stylelint-config/configs/base.js
Due: eslint

chore: upgrade dependencies
  package.json
  packages/biome-config/biome-config.json
  packages/react-utils/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vite-lib.config.ts
Due: typescript, eslint

chore: upgrade to eslint v10
  eslint.config.js
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/configs/react-native.js
  packages/eslint-config/configs/react.js
  packages/eslint-config/package.json
  packages/react-utils/src/hooks/index.ts
  packages/react-utils/src/hooks/useComponentSize.ts
  packages/react-utils/src/hooks/useSlaveState.ts
  pnpm-lock.yaml
Due: typescript, eslint

chore(release): publish
  packages/biome-config/package.json
  packages/eslint-config/package.json
  packages/react-utils/package.json
  packages/ts-types/package.json
  pnpm-lock.yaml
Due: none

chore: upgrade dependencies
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

feat: remove cjs support
  packages/js-utils/package.json
  packages/react-utils/package.json
  vite-lib.config.ts
Due: typescript, eslint

chore(release): publish
  packages/eslint-config/package.json
  packages/js-utils/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

feat: setup upgrade dependencies scripts
  biome.json
  package.json
  packages/biome-config/biome-config.json
  packages/eslint-config/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): publish
  packages/biome-config/package.json
  packages/eslint-config/package.json
  packages/react-utils/package.json
  pnpm-lock.yaml
Due: none

chore: update scripts in package.json
  lefthook.yml
  package.json
  packages/js-utils/package.json
  packages/react-utils/package.json
  packages/ts-types/package.json
Due: none

docs: add AGENTS.md instructions for root and packages
  AGENTS.md
  packages/biome-config/AGENTS.md
  packages/eslint-config/AGENTS.md
  packages/js-utils/AGENTS.md
  packages/prettier-config/AGENTS.md
  packages/react-utils/AGENTS.md
  packages/stylelint-config/AGENTS.md
  packages/ts-types/AGENTS.md
Due: none

chore: update eslint config and ignore codegraph index
  .gitignore
  eslint.config.js
Due: eslint

feat(js-utils): add seededRandom utility and move random helpers to random category
  AGENTS.md
  package.json
  packages/js-utils/AGENTS.md
  packages/js-utils/src/array/index.ts
  packages/js-utils/src/index.ts
  packages/js-utils/src/number/index.ts
  packages/js-utils/src/random/index.ts
  packages/js-utils/src/random/randomArrayItem.spec.ts
  packages/js-utils/src/random/randomArrayItem.ts
  packages/js-utils/src/random/randomInt.spec.ts
  packages/js-utils/src/random/randomInt.ts
  packages/js-utils/src/random/randomNumber.spec.ts
  packages/js-utils/src/random/randomNumber.ts
  packages/js-utils/src/random/randomString.spec.ts
  packages/js-utils/src/random/randomString.ts
  packages/js-utils/src/random/seededRandom.spec.ts
  packages/js-utils/src/random/seededRandom.ts
  packages/js-utils/src/string/index.ts
  pnpm-lock.yaml
Due: typescript, eslint

fix(js-utils): accept typed functions in debounce/throttle generics
  packages/js-utils/src/function/debounce/debounce.spec.ts
  packages/js-utils/src/function/debounce/debounce.ts
  packages/js-utils/src/function/throttle/throttle.spec.ts
  packages/js-utils/src/function/throttle/throttle.ts
Due: typescript, eslint

fix(js-utils): keep randomNumber within [min, max] and make max inclusive
  packages/js-utils/src/random/randomNumber/randomNumber.spec.ts
  packages/js-utils/src/random/randomNumber/randomNumber.ts
Due: typescript, eslint

fix(js-utils): declare @aliexme/ts-types dependency for published types
  packages/js-utils/package.json
  pnpm-lock.yaml
Due: none

refactor(js-utils): rewrite arraysIntersection on native Set methods
  packages/js-utils/src/array/arraysIntersection/arraysIntersection.spec.ts
  packages/js-utils/src/array/arraysIntersection/arraysIntersection.ts
Due: typescript, eslint

refactor(js-utils): simplify omit helpers with Object.fromEntries
  packages/js-utils/src/object/omitObjectProperties/omitObjectProperties.ts
  packages/js-utils/src/object/omitUndefinedObjectValues/omitUndefinedObjectValues.ts
Due: typescript, eslint

refactor(js-utils): index randomString char groups by array
  packages/js-utils/src/random/randomString/randomString.ts
Due: typescript, eslint

Path conditions:
  typescript: any of: *.{ts,tsx,vue}
  eslint: any of: *.{js,jsx,cjs,mjs,ts,tsx,vue}
  stylelint: any of: *.{css,scss}
